* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #d3d3d3;
    /* border: 2px solid black;
    margin: 50%; */
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.container::after{
    background: linear-gradient(90deg, #b62c2a, #1964bd);
    content: "";
    position: absolute;
    inset: 0;
    transform: skewY(10deg);
    box-shadow: 0px 0px 15px rgb(53, 52, 52);
    z-index: -1;
}
 
.box1{
    position: absolute;
    /* z-index: 0; */
    height: 75vh;;
    width: 85%;
    top: 15vh;
    left: 15vh;
    background: linear-gradient(90deg, #8b2386, #f16f22);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
} 

.box2{
    margin: 20px 25% 20px 20px;
    overflow: hidden; 
}

img{
    height: 300px;
    width: 500px;
    right: 0px;
    position: absolute;
    z-index: 1000;
    transform: translate(50px, -50px);
    /* transition: transform 0.1s ease, scale 0.1s ease;  */
}

img:hover {
  transform: translate(-15%, 10%) scale(1.7); 
}

h1{
    margin: 10px 0px 30px 5px;
    color: white;
}

p{
    max-width: 50%;
    color: white;
    font-size: large;
    margin-left: 5px;
}

